@use '../../../styles/theme.scss';

.daily {
    top: 0;
    font-family: sans-serif;
    text-align: center;
}

.daily_content_container {
    top: 25%;
    width: 100%;
}
.date {
    margin-left: 10%;
    width: 50vh;
    color: black;
    background-color: theme.$light-gray;
    border-radius: 10px;
}
.income {
    width: 45%;
    color: theme.$light-green;
}
.outcome {
    width: 45%;
    color: theme.$light-red;
}