@use '../../../styles/theme.scss';
@use '../../../styles/common.scss' as common;

.daily {
    top: 0;
    font-family: sans-serif;
    text-align: center;
}

.daily_content_container {
    top: 25%;
    width: 100%;
}
.row_daily_item_container {
    margin-left: 5%;
    margin-right: 5%;
    @include common.flex-row(center, center);
}
.date {
    width: 50vh;
    color: black;
    background-color: theme.$light-gray;
    border-radius: 10px;
}
.item_title {
    width: 30%;
    color: black;
}
.income {
    width: 30%;
    color: theme.$light-green;
}
.outcome {
    width: 30%;
    color: theme.$light-red;
}

.item_name_container {
    margin: 10px 10% 0px 10%;
    display: flex;
    flex-flow: row;
    color: black;
    @include common.flex-row(space-between, center);
}

.devideLine {
    margin-top: 0px;
    margin-bottom: 10px;
}