@use '../../../styles/theme.scss';
@use '../../../styles/common.scss' as common;

.statistics_container {
  top: 0;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropDown_container {
  top: 20%;
  min-width: 300px;
  box-shadow: 1px 4px 5px 1px #00000026;
  display: flex;
  position: absolute;
  z-index: 10;
}

.select {
  color: #333333;
  font-family: sans-serif;
  inline-size: 100%;
  font-size: 11px;
}
.select_div {
  display: flex;
  align-items: flex-end;
  width: 100%;
  text-align: center;
}

.statistics_content_container {
  top: 25%;
  width: 100%;
  position: absolute;
  text-align: center;
}

.row_statistics_item_container {
  @include common.flex-row(space-between, center);
  p {
    margin-top: 15px;
  }
}
.statistics_item_date {
  width: 30%;
  text-align: center;
  color: black;
  background-color: theme.$light-gray;
  border-radius: 10px;
}

.statistics_item_income {
  width: 40%;
  color: theme.$light-green;
}
.statistics_item_outcome {
  width: 30%;
  color: theme.$light-red;
}

.statistics_item_name_container {
  margin: 10px 13% 0px 14%;
  display: flex;
  flex-flow: row;
  color: black;
  @include common.flex-row(space-between, center);
}
.statistics_devideLine {
  margin-top: 0px;
  margin-bottom: 10px;
}