@use '../../../styles/theme.scss';

.statistics_container {
  top: 0;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropDown_container {
  top: 20%;
  min-width: 300px;
  box-shadow: 1px 4px 5px 1px #00000026;
  display: flex;
  position: absolute;
  z-index: 10;
}

.select {
  color: #333333;
  font-family: sans-serif;
  inline-size: 100%;
  font-size: 11px;
}
.select_div {
  display: flex;
  align-items: flex-end;
  width: 100%;
  text-align: center;
}

.statistics_content_container {
  top: 30%;
  width: 100%;
  position: absolute;
  text-align: center;
}

.row_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid theme.$gray-color;
  p {
    margin-top: 15px;
  }
}
.period {
  margin-left: 10%;
  width: 50vh;
  text-align: center;
  color: black;
  background-color: theme.$light-gray;
  border-radius: 10px;
}
.income {
  width: 45%;
  color: theme.$light-green;
}
.outcome {
  width: 45%;
  color: theme.$light-red;
}