.dropDownArea {
    margin-top: 10px;
    border-bottom: 1px solid gray;
    width: 500px;
    height: 50px;
}

.period {
    content: "";
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.periodDropDown {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

