.roundBtn_container {
    position: fixed;
    right: 2%;
    bottom: 7%;
}
.plus_button {
    background-color: #beb7b9;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #beb7b9;
    font-size: 35px;
}

.newItemModal {
    position: relative;
    width: 300px;
    padding: 30px 43px;
    margin: 30% auto;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #ffeac6;
    box-shadow: rgb(0, 0, 0, 0.5) 1px 20px 30px;
    cursor: auto;
}