.btn-blue {
    color: #FFF;
    background-color: #3253cb;
}

.btn-blue:hover {
    background-color: #3253cb;
}

.btn-white {
    color: #B0BAC9;
    border: 1px solid #B0BAC9;
    background-color: #FFF;
}

.btn-white:hover {
    color: #FFF;
    background-color: #B0BAC9;
}

.btn-gray {
    color: black;
    background-color: #B0BAC9;
    border-radius: 5px;
}