$main-color: #43c2b7;
$sub-color: #6ee2d9;
$step-color: #447a76;
$gray-color: #c4c4c4;
$dark-gray-color: #5a5a5a;
$light-green: #00ff00;
$light-red: #ff0000;
$light-gray: rgb(196, 196, 196);
$light-gray2: rgb(235, 235, 235);