$main-color: #ACE2E1;
$sub-color: #DFF5FF;
$step-color: #67C6E3;
$gray-color: #c4c4c4;
$dark-gray-color: #5a5a5a;
$light-green: #55a858;
$light-red: #ff0000;
$light-gray: rgb(196, 196, 196);
$light-gray2: rgb(235, 235, 235);