@use '../../../styles/theme.scss';
@use '../../../styles//common.scss' as common;

.header_amount {
    display: flex;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid theme.$light-gray;
    background-color: theme.$main-color;
    color: black;
    text-align: center;
}

.incomeTitle, .outcomeTitle, .totalTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.incomeValue {
    color: theme.$light-green;
}

.outcomeValue {
    color: theme.$light-red;
}

.header_title_container {
    position: relative;
    background-color: theme.$main-color;
    width: 100%;
    @include common.flex-row(space-between, baseline);

    .menu_button {
        text-align: center;
        align-self: center;
        font-size: 25px;
        svg {
            vertical-align: baseline;
            color: black;
        }
    }

    .headerTitleH3 {
        color: black;
        flex-grow: 1; // 남은 공간을 차지
        text-align: center; // 수평으로 텍스트 가운데 정렬
        align-self: center; // 수직으로 가운데 정렬
        margin-bottom: 0px;
    }
}

.loginUserName {
    color: black;
}

.logInOutBtn {
    height: 10%;
}

.exit_app_btn {
    font-size: 18px;
    background-color:transparent;
    border: 0px;
}