@use '../../../styles/theme.scss';

.header_amount {
    display: flex;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #f4e7e3;
    color: black;
    text-align: center;
}

.incomeTitle, .expenseTitle, .totalTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.incomeValue {
    color: theme.$light-green;
}

.expenseValue {
    color: theme.$light-red;
}

.header_title {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #f4e7e3;
    border-bottom: 1px solid black;
    width: 100%;
}

.loginUserName {
    justify-content: flex-start;
}

.logInOutBtn {
    justify-content: flex-end;
}

.headerTitleH3 {
    justify-content: center;

}