h1 {
  margin-top: 1%;
  margin-bottom: 3%;
  text-align: center;
}


.name, .su_password, .su_passwordCheck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 15%;
}

.su_id_container {
  display: flex;
  flex-direction: row;
  margin: auto; 
  margin-top: 5px;
  width: 15%;
}

.btn_checkId {
  margin-left: auto;
}

span {
  margin: 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 15%;
}

.su_password, .su_passwordCheck {
  margin-top: 5px;
}

.btn-signup {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}