@use '../../styles/theme.scss';

.header {
    display: flex;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #f4e7e3;
    color: black;
}

.incomeTitle, .expenseTitle, .totalTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.incomeValue {
    color: theme.$light-green;
}

.expenseValue {
    color: theme.$light-red;
}