@use '../../../styles/common.scss' as common;

.new-item h1 {
    margin-bottom: 32px;
    font-weight: bold;
}

.new-item-form-info {
    text-align: left;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

.new-item:before {
    content: "";
    position: absolute;
    top: 60px;
    left: 45px;
    width: 210px;
    height: 0px;
    opacity: 0.5;
    border: 1px solid #000000;
}

.fs-normal {
    font-size: 16px;
    line-height: 1.25;
}

.new-item-form-info-title {
    display: flex;
    align-items: baseline;
}
  
.new-item-form-info-title h2 {
    margin-right: 10px;
}

.amount_type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.amount_income {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 30px;
    margin-right: 10px;
    #income {
        margin-right: 5px;
    }
}

.amount_outcome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
    #outcome {
        margin-right: 5px;
    }
}

.new-item_form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.new-item_form-actions button:first-child {
    margin-right: 32px;
}

.btn-register:hover, .btn-cancle:hover {
    @include common.hover-event();
    background-color: orange;
}

.category_container {
    margin-bottom: 10px;
    #categoryOptions {
        height: 27px;
    }
}
