@use '../../../styles/theme.scss';

.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: theme.$main-color;
    padding: 10px 50px 0px 50px;
    text-align: center;
    border-top: 1px solid theme.$light-gray;
    z-index: 999;
    svg {
        vertical-align: auto;
    }
}