.navbar {
    margin-top: 42px;
    width: 100%;
    background-color: #afcef1;
    padding: 10px 50px;
    text-align: center;
    border-bottom: 1px solid black;
}

.navbarMenu {
    color: black;
    margin: 5px;
    text-decoration: none;
}